
html{
    background-color:rgba(182, 182, 182, 0.183)  ;
}
body{
    

    margin: auto;
    font-size: 1.1rem;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;

    
}

#counter-app{
    width: 50%;
    text-align: center;
    justify-self: center;
    background-color: rgb(175, 175, 175);
    border-radius: 30px;
    padding: 5px;
    margin-top: 25%;

}
#counter-app button{
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: auto;
    background-color: #eeeeee;
}
#counter-app button:hover{
    background-color: black;
    color: white;
    
    
}
#counter-app button:active{
    background-color: grey;
}

#todo-app{
    padding: 10px;
    color: white;
    background-color: rgb(245, 245, 245) ;

    width: 60%;
    padding-bottom: 30px;
    position: relative;

  
   
    margin: auto;
    color: rgb(0, 0, 0);

box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);

    
    
    margin-top: 25%;
}

.greys{
    
    background-color:rgb(215, 215, 215) ;
    margin: auto;
    border: none;
    padding: 5px;
    font-size: inherit;
    width: 50%;
    height: fit-content;
    margin-top: 5px;

    

}

#todo-app input:focus{
    
    outline:1px solid rgb(131, 131, 131);
}
.todo{
    display: flex;

    justify-content: space-between;
    border-radius: 10px;
    
  
}
.todoButtons{
    background-color: black;
    color: white;
    justify-self: end;
    margin-left: 5px;
    border-radius: 30px;
    height: 1.8em;
    border: none;
    padding: 0px 10px;

    
}
.todoButtons:hover{
    background-color: rgb(75, 75, 75);
}


#input-field{
    text-align: center;
}


#Meals{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: auto;
    gap: 15px;

    
   
}

img{
    width: 95%;
    justify-self: center;
    margin-top: 7px;
}
.meal-container{
    margin-bottom: 20px;
    text-align: center;
    width: 80%;

   box-shadow:  0px 4px 12px rgba(0, 0, 0, 0.1);
}



/* the calculator component*/
#calculator{
    padding: 4px;
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    background-color: white;
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.301) ;

    border-radius: 5px; /* round object are more appealing to eyes :)*/

}

/* calculator input field:  */
#calc-input{
    width: 100%;
    padding: 10% 0 10% 0 ; /*top and bottom % is based on the width*/
    margin: auto;
    text-align: end; 

    border: none;
    margin-bottom: 5px;
    
    
}

/* Managing grid for the buttons:  */
.buttons-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 2px;

    

  
   
}

/* making some bottons span twice the space: */
.clear,.equal{
    grid-column: span 2;
}
.plus{
    grid-row-start: 3;
    grid-row: span 2;

}


/* Buttons styling:  */
.num {
  background-color: rgb(0, 0, 0); 
  color: white;
  padding: 10px 20px;
  border: none; 
  border-radius: 5px;
  cursor: pointer; /*changes the cursor type, it's a pointing finger right now*/ 

}

.num:hover {
  background-color: rgb(67, 67, 67);
  border: rgb(49, 49, 49);

}


.num:active {
  background-color: rgb(134, 134, 134); 
 
}

.toggleColorApp{
    width: 100%;
    padding: 20% 0 20% 0;
}


.h-container{
    width: 100%;
    padding: 25% 0 25% 0;
    text-align: center;

    

}

/* testimonials:  */

.testimonials{
    display: flex; /* trying to make the buttons stick to the end */
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    height: 160px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    background-color: rgba(205, 202, 202, 0.289);
    box-shadow:0px 4px 12px rgba(0, 0, 0, 0.301) ;
    
}
@keyframes animationName {
  from { opacity: 0; transform: translateY(2px); } /* Start slightly off and invisible */
  to { opacity: 1; transform: translateY(0); }     /* End fully visible and in place */
}

.author{
    font-weight: bold;
    animation: animationName 0.2s;
 
}
.quote{
    color: grey;
    font-style: italic;
    margin-bottom: 10px; /* for buttons positioning*/
    animation: animationName 0.2s;
}
.previous-next{
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* for buttons positioning */
}
.previous-next>button{
    background-color: rgba(0, 0, 0, 0.755);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    border: none;

    transition: transform 0.2s;
     
}
.previous-next>button:hover{

    transform: scale(0.9);
   
    cursor: pointer;
    
}
.previous-next>button:active{
    transform: scale(1);
    background-color: black;
}


/* accordian.jsx styling; */

.accordian-container{
    background-color: rgba(0, 0, 0, 0.793);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    color: rgba(203, 203, 203, 0.796);

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordian-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.a-icon{
    font-size: 1.5em;
}
.accordian-header> *{
    
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.singleAccordian{
    
    width: 80%;
    padding: 10px;
    margin: 20px;
    background-color: black;
 
}

.desc{
    padding: 10px 20px;
    
}

/* From.jsx */
.error{
    color: red;
    font-size: 0.7em;
}

.form-container{

    width: 60%;
    margin: auto;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
   background-color: rgba(2, 29, 27, 0.99);
   box-shadow:0px 4px 12px rgba(0, 0, 0, 0.592)
   
}

.form-image{
    width: 50%;
    margin: 0px; /* there was margin at the top*/
    
}

.form-container>form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}
.form-container>form>input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    background-color:rgba(2, 29, 27, 0.644);
}
.form-container>form>input:focus{
    outline: none;
    background-color: rgba(1, 19, 18, 0.635);
}

.form-button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-top: 10px;
    
}
.form-button:hover{
    background-color: rgb(18, 18, 18);
    outline: 2px solid rgb(0, 0, 0);

}
.form-button:active{
    background-color: black;
    scale: 0.95;
    transition: 0.15s ;
}

/* MemoryGame styling: */


.main-div{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    justify-content: space-between;


    
}
.num-container{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


    padding: 10px;
    margin: auto;
    text-align: center;
    gap: 10px;
    background-color: white;

    border-radius: 10px;

       box-shadow:0px 4px 12px rgba(0, 0, 0, 0.592)


    
}
.rand-num{
    
    background-color: grey;
    align-content: center;
   border-radius: 10px;
    cursor: default;
    user-select: none;  /* so that I cursor thing don't appear when i click the text*/ 
    font-size: 2em;
    transition: 0.2s;

}
.rand-num:hover{
   background-color: rgb(170, 170, 170);

   scale: 1.05;
   

}
.rand-num:active{
    scale: 0.98;
}






.side-div{

    height: 150px;
    background-color: darkgray;
    border-radius: 25px;
    text-align: center;
    padding: 2px;

    
   
}
.side-div>*{
    height: 100%;
    width: 100%;
    margin: 1px;
    user-select: none;
    border-radius: 25px;
    text-align: center;


  
}

.strt-btn:hover{
    scale: 1.1;
    transition: 0.1s;

    background-color: rgb(151, 151, 151);
}

.navigator-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px 40px;

    text-align: center;
    
    
}
.project-button{
    background-color: rgb(177, 177, 177);
    padding: 5px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
}
.project-button:hover{
    scale: 1.1;
    background-color: gray;
}
.project-button:active{
    scale:0.95;
    background-color: rgb(156, 156, 156);
}
